.THIS img {
    width: 100%;
    object-fit: cover;
    height: auto;
    max-height: 350px;
}

.THIS .slds-card+.slds-card {
    margin-top: 0px;
    margin-botton: 16px;
}

.THIS .slds-card {
    width: 48%;
}

.THIS .title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    position: relative;
}