.THIS {
    background-color: yellow;
    padding-top: 10px;
}

h1.THIS {
    font-size: 60px;
}

.THIS h1 {
    font-weight: bold;
    padding: 10px;
}

.THIS .red {
    background-color: red;
    font-size: 30px;
}

.THIS .blue {
    background-color: blue;
}

.THIS .green {
    background-color: green;
}